@using EveCM.Models.Bulletin.ViewModels

@model IEnumerable<NotificationViewModel>

<div class="card">
    <div class="card-header">
        Notifications <span class="float-right text-gray">Showing @Model.Count() latest</span>
    </div>
    @if (Model.Count() > 0)
    {
        int counter = 0;
        foreach (NotificationViewModel notification in Model.OrderBy(x => x.Date).Reverse())
        {
            counter++;
            <div class="card-body">
                <h5 class="card-title">@notification.Title</h5>
                <p class="card-text">@notification.Content.</p>
                <footer class="blockquote-footer">
                    <img src="@EveImageHelper.GetCharacterAvatar(notification.AuthorCharacter.PrimaryCharacterId.ToString(), EveImageHelper.CharacterAvatarSize.Thirty_Two)" />
                    @notification.AuthorCharacter.UserName
                    | @notification.Date.ToShortDateString()
                </footer>
            </div>
            if (counter < Model.Count())
            {
                <hr />
            }
        }
    }
    else
    {
        <div class="card-body">
            <p class="card-text">No notifications</p>
        </div>
    }
</div>
<div class="card">
    <div class="card-header">
        New Notification
    </div>
    <div class="card-body">
       <form asp-action="bulletin" asp-controller="bulletin" method="post">
           <div class="form-group">
               <label>Title:</label>
               <input type="text" name="Title" class="form-control" />
           </div>
           <div class="form-group">
               <label>Message:</label>
               <textarea name="Content" class="form-control"></textarea>
           </div>
           <div class="form-group">
               <input type="submit" class="btn btn-primary" value="Save"/>
           </div>
       </form>
    </div>
</div>